# URL publica de la app. Para Google Wallet conviene que sea https.
PUBLIC_BASE_URL=
PORT=3000
BRAND_NAME=Pet Wallet Card
CARD_BACKGROUND_COLOR=#C96E4B

# Google Wallet
GOOGLE_WALLET_ISSUER_ID=
GOOGLE_WALLET_CLASS_SUFFIX=pet-ownership-card
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_WALLET_LOGO_URL=

# Apple Wallet
APPLE_ORGANIZATION_NAME=Pet Wallet Card
APPLE_PASS_TYPE_IDENTIFIER=pass.com.tuempresa.petcard
APPLE_TEAM_IDENTIFIER=
APPLE_SIGNER_CERT_PATH=C:\ruta\certificados\signerCert.pem
APPLE_SIGNER_KEY_PATH=C:\ruta\certificados\signerKey.pem
APPLE_SIGNER_KEY_PASSPHRASE=
APPLE_WWDR_CERT_PATH=C:\ruta\certificados\AppleWWDRCAG4.pem
APPLE_OPENSSL_PATH=openssl
APPLE_BACKGROUND_COLOR=rgb(62, 37, 29)
APPLE_FOREGROUND_COLOR=rgb(255, 249, 245)
APPLE_LABEL_COLOR=rgb(255, 208, 173)
APPLE_WEB_SERVICE_URL=
APPLE_AUTH_TOKEN=
